.skills {
    padding: 0 0 3.1rem 0;
    position: relative;
    background: var(--back-color);
    background: linear-gradient(
        0deg,
        var(--back-color) 1%,
        var(--main-color) 50%,
        var(--back-color) 99%
    );
}

.skills-bx {
    background: var(--back-color);
    opacity: 0.9;
    border-radius: 64px;
    text-align: center;
    padding: 40px 50px;
}

.skills-slider {
    width: 100%;
    position: relative;
}

.react-multiple-carousel__arrow--left {
    left: 17%;
}

.react-multiple-carousel__arrow--right {
    right: 17%;
}

@media (max-width: 576px) {
    .skills-bx {
        padding: 60px 20px;
    }

    .react-multiple-carousel__arrow--left {
        left: 0%;
    }

    .react-multiple-carousel__arrow--right {
        right: 0%;
    }
}

.react-multiple-carousel__arrow {
    top: 5px;
}
