nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transform: 0.32s ease-in-out;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: var(--back-color);
}

nav.navbar a.navbar-brand {
    width: 9%;
    color: var(--text-color);
    font-size: 1.25rem;
}

nav.navbar a.navbar-brand span {
    color: var(--main-color);
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 0.8px;
    padding: 0 3.6rem;
    font-size: 1.12rem;
    opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    color: var(--main-color);
}

span.navbar-text {
    display: flex;
    align-items: center;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-radius: 2px solid var(--text-color);
    transition: all 300ms linear;
    top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid var(--text-color);
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: var(--text-color);
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
    top: 8px;
}

@media (max-width: 576px) {
    nav.navbar a.navbar-brand {
        font-size: 1.3rem;
    }
}

@media (max-width: 991px) {
    nav.navbar .navbar-nav .nav-link.navbar-link {
        font-size: 1.3rem;
        padding-bottom: 0.4rem;
    }
}
