.my-skills {
    margin: 26px 5px 0 5px;
}

.my-skills::before {
    content: 'Skills';
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
    opacity: 0.2;
    line-height: 0;
}
