.social-icon {
    display: inline-block;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 6px;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #e38528;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a .icon {
    color: #fff;
    width: 40%;
    z-index: 1;
    transition: 0.3s;
}

.social-icon a:hover .icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
        hue-rotate(346deg) brightness(95%) contrast(86%);
}
